In [33]:
import os
import glob
import psycopg2
import pandas as pd
from sqlqueries import *
from datetime import datetime
from createtables import *

In [34]:
conn=psycopg2.connect("host=localhost dbname=sparkifydb user=student password=student")
cur=conn.cursor()

In [35]:
def get_files(filepath):
    all_files=[]
    for root,dirs,files in os.walk(filepath):
        files=glob.glob(os.path.join(root,'*.json'))
        for f in files:
            all_files.append(os.path.abspath(f))
    return all_files

In [36]:
song_files=get_files("data/song_data")

df=pd.read_json(song_files[0],lines=True)

artist_data=(df[['artist_id','artist_name','artist_location','artist_latitude','artist_longitude']].values).tolist()

cur.execute(artist_table_insert,artist_data[0])
conn.commit()

song_data=(df[['song_id','title','artist_id','year','duration']].values).tolist()

cur.execute(song_table_insert,song_data[0])
conn.commit()

In [37]:
song_data[0]

['SOINLJW12A8C13314C', 'City Slickers', 'AR8IEZO1187B99055E', 2008, 149.86404]

In [38]:
log_files=get_files("data/log_data")

df1=pd.read_json(log_files[0],lines=True)

df=df1[df1['page']=='NextSong']

t=df['ts'].apply(lambda x: datetime.fromtimestamp(x/1000))

column_labels=['time','hour','day','week','month','year','weekday']

df2=pd.DataFrame(columns=column_labels)

df2['time']=t
df2['hour']=t.dt.hour
df2['day']=t.dt.day
df2['week']=t.dt.week
df2['month']=t.dt.month
df2['year']=t.dt.year
df2['weekday']=t.dt.weekday

time_df=df2


for i,row in time_df.iterrows():
    cur.execute(time_table_insert,list(row))
    conn.commit()


user_df1=df[['userId','firstName','lastName','gender','level']]

user_df=user_df1[user_df1['userId']!='']

for i,row in user_df.iterrows():
    cur.execute(user_table_insert,list(row))
    conn.commit()

In [39]:
for i,row in df.iterrows():
    cur.execute(song_select,(row.song,row.artist,row.length))
    results=cur.fetchone()
    
    print(results)
    if results:
        song_id,artist_id=results
    else:
        song_id,artist_id=None,None
    
    songplay_data=(pd.to_datetime(row.ts,unit='ms'),int(row.userId),row.level,song_id,artist_id,row.sessionId,row.location,row.userAgent)
    #songplay_data=(row.level)
    cur.execute(songplay_table_insert,songplay_data)
    result=cur.fetchone()
    conn.commit()

None

IndexError: tuple index out of range

In [32]:
conn.close()

In [13]:
songplay_data

NameError: name 'songplay_data' is not defined

In [75]:
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Sydney Youngblood,Logged In,Jacob,M,53,Klein,238.07955,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,Ain't No Sunshine,200,1543449657796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
1,Gang Starr,Logged In,Layla,F,88,Griffin,151.92771,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My Advice 2 You (Explicit),200,1543449690796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
2,3OH!3,Logged In,Layla,F,89,Griffin,192.52200,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My First Kiss (Feat. Ke$ha) [Album Version],200,1543449841796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
3,RÃÂ¶yksopp,Logged In,Jacob,M,54,Klein,369.81506,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,The Girl and The Robot,200,1543449895796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Kajagoogoo,Logged In,Layla,F,90,Griffin,223.55546,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Too Shy,200,1543450033796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24