# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
# Do all imports and installs here
import pandas as pd

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

In [2]:
# Read in the data here
fname='../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'
df = pd.read_sas(fname, 'sas7bdat', encoding="ISO-8859-1")

In [18]:
df.columns

Index(['cicid', 'i94yr', 'i94mon', 'i94cit', 'i94res', 'i94port', 'arrdate',
       'i94mode', 'i94addr', 'depdate', 'i94bir', 'i94visa', 'count',
       'dtadfile', 'visapost', 'occup', 'entdepa', 'entdepd', 'entdepu',
       'matflag', 'biryear', 'dtaddto', 'gender', 'insnum', 'airline',
       'admnum', 'fltno', 'visatype'],
      dtype='object')

In [25]:
df['i94addr'].drop_duplicates()

0          NaN
1           AL
2           MI
3           MA
6           NJ
8           NY
11          MO
17          TX
18          CT
23          FL
24          IL
37          CA
44          GA
47          TN
55          NH
62          IN
63          NV
65          SC
85          MD
134         DC
144         LA
148         OK
150         PA
154         VA
164         CO
308         HI
415         MN
417         AZ
456         OR
469         PR
          ...
2165238     RU
2211804     TH
2229856     KC
2321533     52
2355475     PP
2364295     GZ
2388509     IW
2392207     MU
2401973     GL
2420760     97
2459949     OO
2468415     AX
2480045     M2
2488460     CX
2505488     AF
2551925     HK
2563073     TM
2578327     DH
2590692     YO
2591332     36
2627573     DG
2640814     GC
2651633     CD
2756685     BD
2799458     FD
2827658     N1
2848779     GV
2853468     YX
2869355     GN
3051530     RY
Name: i94addr, Length: 459, dtype: object

In [4]:
	
from pyspark.sql import SparkSession
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()
df_spark =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')

In [27]:
#write to parquet
#df_spark.write.parquet("sas_data")
#df_spark=spark.read.parquet("sas_data")

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

In [12]:
# Performing cleaning tasks here

df_spark.head()

Row(cicid=6.0, i94yr=2016.0, i94mon=4.0, i94cit=692.0, i94res=692.0, i94port='XXX', arrdate=20573.0, i94mode=None, i94addr=None, depdate=None, i94bir=37.0, i94visa=2.0, count=1.0, dtadfile=None, visapost=None, occup=None, entdepa='T', entdepd=None, entdepu='U', matflag=None, biryear=1979.0, dtaddto='10282016', gender=None, insnum=None, airline=None, admnum=1897628485.0, fltno=None, visatype='B2')

In [5]:
df_cities=pd.read_csv('us-cities-demographics.csv',delimiter=';')
df_cities.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

In [30]:
df_cities[df_cities['State']=='Massachusetts']

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
33,Framingham,Massachusetts,40.3,35442.0,35768.0,71210,2625.0,19070.0,2.49,MA,Black or African-American,6944
65,Somerville,Massachusetts,31.0,41028.0,39306.0,80334,2103.0,22292.0,2.43,MA,Asian,9498
85,Lynn,Massachusetts,34.8,44598.0,47861.0,92459,3093.0,29899.0,2.81,MA,Black or African-American,18240
86,Lynn,Massachusetts,34.8,44598.0,47861.0,92459,3093.0,29899.0,2.81,MA,Asian,9205
92,Newton,Massachusetts,42.3,41985.0,46824.0,88809,1814.0,21692.0,2.71,MA,Black or African-American,2925
119,Newton,Massachusetts,42.3,41985.0,46824.0,88809,1814.0,21692.0,2.71,MA,Hispanic or Latino,4790
129,Cambridge,Massachusetts,31.5,55421.0,54981.0,110402,2495.0,27757.0,2.06,MA,Asian,18441
167,Framingham,Massachusetts,40.3,35442.0,35768.0,71210,2625.0,19070.0,2.49,MA,Hispanic or Latino,13000
216,Brockton,Massachusetts,35.2,46273.0,49041.0,95314,3036.0,27313.0,2.88,MA,American Indian and Alaska Native,881
269,New Bedford,Massachusetts,38.6,43793.0,51166.0,94959,4185.0,19024.0,2.39,MA,White,63938
289,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,Hispanic or Latino,2566
295,New Bedford,Massachusetts,38.6,43793.0,51166.0,94959,4185.0,19024.0,2.39,MA,Hispanic or Latino,18336
300,Springfield,Massachusetts,31.8,74744.0,79592.0,154336,5723.0,16226.0,2.81,MA,Asian,5606
301,Springfield,Massachusetts,31.8,74744.0,79592.0,154336,5723.0,16226.0,2.81,MA,American Indian and Alaska Native,2087
305,Fall River,Massachusetts,39.3,43314.0,45456.0,88770,4143.0,14775.0,2.21,MA,Black or African-American,6389
316,Worcester,Massachusetts,34.9,90951.0,93855.0,184806,9408.0,36907.0,2.43,MA,Asian,15932
408,Lynn,Massachusetts,34.8,44598.0,47861.0,92459,3093.0,29899.0,2.81,MA,American Indian and Alaska Native,1176
426,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,American Indian and Alaska Native,351
451,Framingham,Massachusetts,40.3,35442.0,35768.0,71210,2625.0,19070.0,2.49,MA,White,52205
452,Framingham,Massachusetts,40.3,35442.0,35768.0,71210,2625.0,19070.0,2.49,MA,Asian,5993
545,Somerville,Massachusetts,31.0,41028.0,39306.0,80334,2103.0,22292.0,2.43,MA,Black or African-American,7140
564,Fall River,Massachusetts,39.3,43314.0,45456.0,88770,4143.0,14775.0,2.21,MA,White,77242
643,Boston,Massachusetts,31.8,322149.0,347320.0,669469,18350.0,190123.0,2.38,MA,White,378543
725,Springfield,Massachusetts,31.8,74744.0,79592.0,154336,5723.0,16226.0,2.81,MA,Black or African-American,35284
730,Fall River,Massachusetts,39.3,43314.0,45456.0,88770,4143.0,14775.0,2.21,MA,Asian,1891
756,Lawrence,Massachusetts,30.8,37464.0,42776.0,80240,1190.0,29170.0,3.17,MA,White,40757
757,Lawrence,Massachusetts,30.8,37464.0,42776.0,80240,1190.0,29170.0,3.17,MA,Black or African-American,9221
1264,Lowell,Massachusetts,33.4,54422.0,56298.0,110720,3764.0,33414.0,2.80,MA,American Indian and Alaska Native,868
1298,Boston,Massachusetts,31.8,322149.0,347320.0,669469,18350.0,190123.0,2.38,MA,Hispanic or Latino,130656
...,...,...,...,...,...,...,...,...,...,...,...,...
1643,New Bedford,Massachusetts,38.6,43793.0,51166.0,94959,4185.0,19024.0,2.39,MA,American Indian and Alaska Native,346
1775,Springfield,Massachusetts,31.8,74744.0,79592.0,154336,5723.0,16226.0,2.81,MA,White,97171
1781,Fall River,Massachusetts,39.3,43314.0,45456.0,88770,4143.0,14775.0,2.21,MA,Hispanic or Latino,9081
1837,Brockton,Massachusetts,35.2,46273.0,49041.0,95314,3036.0,27313.0,2.88,MA,White,40110
1889,Worcester,Massachusetts,34.9,90951.0,93855.0,184806,9408.0,36907.0,2.43,MA,Black or African-American,27491
1969,New Bedford,Massachusetts,38.6,43793.0,51166.0,94959,4185.0,19024.0,2.39,MA,Asian,1811
2069,Lawrence,Massachusetts,30.8,37464.0,42776.0,80240,1190.0,29170.0,3.17,MA,Hispanic or Latino,63175
2112,Newton,Massachusetts,42.3,41985.0,46824.0,88809,1814.0,21692.0,2.71,MA,American Indian and Alaska Native,244
2177,Fall River,Massachusetts,39.3,43314.0,45456.0,88770,4143.0,14775.0,2.21,MA,American Indian and Alaska Native,1481
2243,Lawrence,Massachusetts,30.8,37464.0,42776.0,80240,1190.0,29170.0,3.17,MA,Asian,2149
2266,Worcester,Massachusetts,34.9,90951.0,93855.0,184806,9408.0,36907.0,2.43,MA,White,131898
2322,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,Black or African-American,3917
2445,Lowell,Massachusetts,33.4,54422.0,56298.0,110720,3764.0,33414.0,2.80,MA,Asian,28944
2452,Cambridge,Massachusetts,31.5,55421.0,54981.0,110402,2495.0,27757.0,2.06,MA,American Indian and Alaska Native,906
2492,Boston,Massachusetts,31.8,322149.0,347320.0,669469,18350.0,190123.0,2.38,MA,American Indian and Alaska Native,5580
2572,Cambridge,Massachusetts,31.5,55421.0,54981.0,110402,2495.0,27757.0,2.06,MA,White,80551
2578,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,Asian,30473
2631,Brockton,Massachusetts,35.2,46273.0,49041.0,95314,3036.0,27313.0,2.88,MA,Asian,2528
2644,New Bedford,Massachusetts,38.6,43793.0,51166.0,94959,4185.0,19024.0,2.39,MA,Black or African-American,8890
2646,Springfield,Massachusetts,31.8,74744.0,79592.0,154336,5723.0,16226.0,2.81,MA,Hispanic or Latino,69209
2702,Somerville,Massachusetts,31.0,41028.0,39306.0,80334,2103.0,22292.0,2.43,MA,Hispanic or Latino,8790
2703,Somerville,Massachusetts,31.0,41028.0,39306.0,80334,2103.0,22292.0,2.43,MA,White,62927
2720,Lowell,Massachusetts,33.4,54422.0,56298.0,110720,3764.0,33414.0,2.80,MA,White,68838
2748,Lynn,Massachusetts,34.8,44598.0,47861.0,92459,3093.0,29899.0,2.81,MA,Hispanic or Latino,33250
2763,Brockton,Massachusetts,35.2,46273.0,49041.0,95314,3036.0,27313.0,2.88,MA,Hispanic or Latino,10890
2800,Newton,Massachusetts,42.3,41985.0,46824.0,88809,1814.0,21692.0,2.71,MA,Asian,15666
2815,Framingham,Massachusetts,40.3,35442.0,35768.0,71210,2625.0,19070.0,2.49,MA,American Indian and Alaska Native,849
2825,Newton,Massachusetts,42.3,41985.0,46824.0,88809,1814.0,21692.0,2.71,MA,White,69380
2836,Cambridge,Massachusetts,31.5,55421.0,54981.0,110402,2495.0,27757.0,2.06,MA,Black or African-American,11880
2889,Somerville,Massachusetts,31.0,41028.0,39306.0,80334,2103.0,22292.0,2.43,MA,American Indian and Alaska Native,374

In [7]:
fname = '../../data2/GlobalLandTemperaturesByCity.csv'
df_temp = pd.read_csv(fname)

In [32]:
#df_temp['dt'].drop_duplicates()
df_temp.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [6]:
df_air=pd.read_csv('airport-codes_csv.csv')
df_air.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [ ]:
# Write code here

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.